__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store

# Large artifacts and local outputs
outputs/
archive/

# Model weights and embeddings
*.pt
*.pth
*.npy
*.npz

# Data
data/*
!data/README.md
!data/2324_GNV_processed/
data/2324_GNV_processed/**/*
!data/2324_GNV_processed/**/
!data/2324_GNV_processed/*.csv
!data/2324_GNV_processed/**/*.csv
!data/2425_GNV_processed/
data/2425_GNV_processed/**/*
!data/2425_GNV_processed/**/
!data/2425_GNV_processed/*.csv
!data/2425_GNV_processed/**/*.csv
